<div id= "minombre">
        QUIZ INGENIERIA WEB IGNACIO MONTENEGRO
</div>

<nav>
    <div id = "menu">
        <a [routerLink]="['/vistatarjeta']" routerLinkActive="router-link-active" >
        <button mat-button >
            <mat-icon inline=true>reorder</mat-icon>
            Vista Card
        </button></a>
        <a [routerLink]="['/listausuarios']" routerLinkActive="router-link-active" >
        <button mat-button >
            <mat-icon inline=true>reorder</mat-icon>
            Lista
        </button></a>
        <a [routerLink]="['/adicionar']" routerLinkActive="router-link-active" >
        <button mat-button >
            <mat-icon inline=true>add_circle_outline</mat-icon>
            Adicionar
        </button> 
        </a>
    </div>
</nav>